{% extends "templates/layouts/default.html" %}

{% block css %}
	<style>
		.image-view {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999;
		}
		
		.image-view > img {
			width: 100%;
			height: 100%;
		}
	</style>
{% endblock %}

{% block content %}
  {% include 'templates/layouts/sidebar.html' %}
	<div class="gallery">
		<div class="container">
			{% if galleries.length %}
				{% for gallery in galleries %}
					{% for images in gallery.images|batch(3) %}
						<div class="row">
							{% for image in images %}
								<div class="column">
									<div class="gallery-image-container">
										<div class="gallery-overlay"><i class="fa fa-plus"></i></div>
										<img src="{{ image.secure_url }}" class="gallery-image">
									</div>
								</div>
							{% endfor %}
						</div>
					{% endfor %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
