<div class="sidebar">
  <div class="sidebar-toggle">
    <button class="toggle-button"><i class="fa fa-bars"></i></button>
  </div>
  <div class="sidebar-body">
    <div class="body-title">Drone Shots</div>
    <ul class="sidebar-menu">
			{% for link in navLinks %}
				<li class="menu-item">
					<a href="{{ link.href }}" class="menu-link {{ 'active' if link.key == section else '' }}">{{ link.label }}</a>
				</li>
			{% endfor %}
			{% if user %}
				{% if user.canAccessKeystone %}
					<li class="menu-item"><a href="/keystone" class="menu-link">Admin</a></li>
				{% endif %}
			{% endif %}
    </ul>
  </div>
</div>