.videos {
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    
    .video-play {
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      text-align: center;
      color: #fff;
      font-size: 200%;
      z-index: 999;
      cursor: pointer;
      height: 100%;
      width: 100%;
    }
    
    .gallery-image {
      cursor: pointer;
    }
        
    .youtube-iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 25px;
      left: 0;
    }
  }
}